/* Sidebar.css */

/* ... (existing styles) */

.menu-item-icon-assign-tasks {
    background-image: url("Group\ 2.jpg");
    /* background-size: cover; */
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  /* ... (existing styles) */
  
  

/* 
Width
17px
Height
17px
Top
183px
Left
1543px */